#side-nav {
	position: absolute;
	top: 63px;
	right: 10px;
}

.margin-left {
	margin-left: 10px;
}

.top-padding {
	margin-top: 10px;
}

.navbar {
	background-color: #0006;
}

#app {
	margin-left: 0px;
}

#app .card {
	margin-bottom: 5px;
}

#app p {
	margin-bottom: 0px;
}