{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
  <div id="app" class="row top-padding">
  	<div id="side-nav">
	    <div class="btn-group btn-group-toggle" data-toggle="buttons">
	      <label class="btn btn-secondary" v-on:click="first_active = true, second_active = false, third_active = false" v-bind:class="{active: first_active}">
	        <input type="radio" name="options" id="option1" autoComplete="off" value="Joke" v-bind:ref_id="joke_id" checked v-model="checked" /> Joke
	      </label>
	      <label class="btn btn-secondary" v-on:click="first_active = false, second_active = true, third_active = false" v-bind:class="{active: second_active}">
	        <input type="radio" name="options" id="option2" autoComplete="off" value="DadJokes" v-bind:ref_id="dadjokes_id" v-model="checked"/> DadJokes
	      </label>
	      <label class="btn btn-secondary" v-on:click="first_active = false, second_active = false, third_active = true" v-bind:class="{active: third_active}">
	        <input type="radio" name="options" id="option3" autoComplete="off" value="Tweet" v-bind:ref_id="tweet_id" v-model="checked"/> Tweet
	      </label>
	    </div>
	    <div class="col-md-12 top-padding" align="center">
	      <button class="btn btn-primary" v-on:click="refresh">Refresh</button>
	    </div>
	</div>

  	<div class="card col-md-7 margin-left" v-for="joke in jokes">
  		<div class="card-body">
  			[[ joke.text ]]
  			<p><span class="badge badge-secondary">[[ joke.name ]]</span></p>
  		</div>
  	</div>
  </div>
{% endblock %}

